html, body, #root {
  height: 100%;
  margin: 0;
}

.App, .wrapper {
  text-align: center;
  min-height: calc(100vh - 70px);
}

.ACComponent {
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer,
.push {
  height: 60px;
}

.footer {
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}
