@import "variables";

.cm-ac {
  &__loading{
    position: relative;

    .cm-ac-results {
      display: none;
    }
    .cm-ac-input {
      opacity: 0.2;
    }
    &:after {
      top: 10px;
      content: 'Loading..';
    }
  }

  .cm-ac-container {
    .cm-ac-input {
      width: 100%;
      height: $input-height;
      border: 1px solid transparent;
      border-top: none;
      border-bottom: 1px solid #DDD;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.3), 0 -1px 1px #FFF, 0 1px 0 #FFF;
      padding-left: $step;
    }

    .cm-ac-results {
      background-color: $results-bg-color;
      color: blue;
      max-height: $max-results-height;
      overflow-y: auto;
      padding: $step;

      &--item {
        cursor: pointer;

        &:hover, &__active {
          background-color: $results-item-hover-bg-color;
        }
      }

      &__hidden {
        display:none;
      }
    }
  }
}
